* {
    padding: 0px;
    margin: 0px;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(101, 23, 146);
    height: 15%;
    display: flex;
    align-items: center;
    z-index: 1;
}

#imgHeader {
    display: inline-block;
}

ul {
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 100%;
}

ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    background-color: aliceblue;
    font-size: 100%;
    color: rgb(85, 84, 83);
    margin-right: 20px;
    padding: 4px;
    border-radius: 2px;
}

#context {
    position: absolute;
    display: block;
    top: 250px;
    height: 400px;
    width: 50%;
    background-color: rgb(133, 131, 131);
}

#info {}

#portfolio {
    position: relative;
    display: block;
    margin: 0 25%;
    height: 20%;
    width: 50%;
    background-color: rgb(229, 226, 226);
    border-right: 1px solid rgb(78, 78, 78);
    border-left: 1px solid rgb(78, 78, 78);
}

#contact {
    position: relative;
    display: block;
    margin: 0 25%;
    height: 50%;
    width: 50%;
    background-color: rgb(229, 226, 226);
    border-right: 1px solid rgb(78, 78, 78);
    border-left: 1px solid rgb(78, 78, 78);
    border-top: 1px solid rgb(78, 78, 78);
}

#skill {}

#img {
    background-color: aliceblue;
}

#img img {
    /* position: absolute;
    display: block;
    height: 100%;
    width: 100%; */
}

#text-skill {
    /* display: inline-block;
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: 6%; */
}

#bar1 {
    /* display: inline-block;
    position: absolute;
    right: 0;
    height: 1%;
    width: 100%;
    margin: 8% 0;
    border: 3px solid beige;
    background-color: aliceblue; */
}

#text-skill1 {
    /* display: block;
    position: relative;
    margin-top: 20%;
    width: 100%;
    height: 10%; */
}


/* #about {
    position: relative;
    display: block;
    width: 100%;
    background-color: rgb(175, 174, 174);
    height: 20%;
} */


/* #footer {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    background-color: rgb(101, 23, 146);
    height: 10%;
}

#footer p {
    transform: translate(-50%,-50%);
}

#contact {
    position: relative;
    text-align: center;
}

#contract {
    position: absolute;
} *